#textdomain wesnoth-Rise_of_the_Elementalist

{~add-ons/Rise_of_the_Elementalist/macros1/Guild.cfg}
{~add-ons/Rise_of_the_Elementalist/macros/Journey.cfg}

[scenario]
    id="02_Guild_Intro"
    name= _ "Arrival at the Guild"
    map_data="{~add-ons/Rise_of_the_Elementalist/maps/Guild.map}"
    turns=50
    next_scenario=03_Guild_Entry
    victory_when_enemies_defeated=no
    {UNDERGROUND}

    [story]
        [part]
            story= _ "The search party was wiped out by the Necromancer and raised to do his bidding. By the time that Vallin made it back to the village, it was too late.

His father, friends, and most of the village had been wiped out, they had found the Lich too late."
            background=story/Necromancer.png
        [/part]
        [part]
            story= _ "Vallin was crushed, losing his family was just too much for him.

When the survivors that had successfully hidden decided to pack up and flee to the nearest town, Vallin decided that there was nothing left for him.

He set out on a different path, taking what little belongings he had and heading north to the mage guild. The trip was a long and hard one, but it gave him time to grieve and he liked being alone."
            background=story/mage.png
        [/part]
        {MAP_GUILD_INTRO (_ "The tower was impressive and Vallin was at first intimidated by the mages, but they accepted him in as a student. After being there for a season he was called by the guild to take the test...")}
    [/story]

    {DEFAULT_MUSIC_PLAYLIST}

    # wmllint: validate-off
    [side]
        {VALLIN_YOUTH_MACRO}
        side=1
        x=15
        y=10
        team_name=wizards
        user_team_name=_"Vallin"
        gold=100
        controller=human
        {NO_INCOME}
        shroud=yes
    [/side]
    # wmllint: validate-on

    [side]
        side=2
        no_leader=yes
        team_name=wizards
        {GUILD_ELDERS_GUILD_ROOM_MACRO}
    [/side]

    [event]
        name=prestart
        {POPULATE_GUILD_BASE_MACRO}
        {GUILD_CLOSE_DOOR_MACRO 12 15}
        {GUILD_CLOSE_DOOR_MACRO 21 10}
    [/event]

    [event]
        name=start

        {SCROLL_TO 16 10}

        [redraw]
            side=1
        [/redraw]

        [message]
            speaker=narrator
            caption=_ "Messenger"
            message=_ "Vallin, the guild elders are awaiting your presence."
            image=portraits/humans/mage-silver.png
        [/message]

        {GUILD_VALLIN_OUT_OF_BED_MACRO}
        [redraw]
            side=1
        [/redraw]
        [remove_shroud]
            x=16-26
            y=1-9
            side=1
        [/remove_shroud]
        {MOVE_UNIT id=Vallin 21 5}

        [message]
            id=Vallin
            message=_ "Sir, you have requested my presence?"
        [/message]

        # wmllint: display on
        [message]
            id=marthos
            message=_ "Yes, Vallin, as you know, it is our custom to admit students for one season, and then, if the student shows promise, they must pass a test in order that they be granted full membership of the guild and assigned as an apprentice to a senior guild member.
            
It is time for you to decide if you belong here."
        [/message]
        # wmllint: display off

        [message]
            id=lial
            message=_ "As you know, the test is not a simple one, but one that is live or death."
        [/message]

        [message]
            id=saril
            message=_ "Yes, there is no going back from this decision, it is final."
        [/message]

        [message]
            id=atheros
            message=_ "Are you ready to take the test or does fate lead you elsewhere?"
            [option]
                message=_ "Take the test"
                [command]
                    [message]
                        id=Vallin
                        message=_ "I am ready"
                    [/message]
                    [message]
                        id=atheros
                        message=_ "Very well, please follow the path behind me."
                    [/message]

                    {GUILD_OPEN_DOOR_MACRO 21 10}
                    [remove_shroud]
                        x=20-26
                        y=8-13
                        side=1
                    [/remove_shroud]
                    {MOVE_UNIT id=Vallin 25 12}

                    [endlevel]
                        result=victory
                        bonus=no
                        carryover_percentage=0
                        carryover_report=no
                        linger_mode=no
                    [/endlevel]
                [/command]
            [/option]
            [option]
                message=_ "No, the risk is too great"
                [command]
                    [message]
                        id=Vallin
                        message=_ "I am sorry, I cannot risk my life."
                    [/message]
                    [message]
                        id=marthos
                        message=_ "It is unfortunate, but it is better that you have made your choice now."
                    [/message]
                    [message]
                        speaker=narrator
                        message=_ "Vallin departed from the guild, but never found a place in the world and lived an isolated life as a hermit."
                        image=wesnoth-icon.png
                    [/message]
                    [endlevel]
                        result=defeat
                        carryover_report=no
                        linger_mode=no
                    [/endlevel]
                [/command]
            [/option]
        [/message]
    [/event]
[/scenario]
