#textdomain wesnoth-Rise_of_the_Elementalist

#define EARTH_ENSCONCE_EFFECTS
    [effect]
        apply_to=new_ability
        [abilities]
            {ABILITY_ENSCONCE}
        [/abilities]
    [/effect]
    [effect]
        apply_to=max_experience
        increase=20%
    [/effect]
    [effect]
        apply_to=hitpoints
        increase_total=2
        heal_full=yes
    [/effect]
    [effect]
        apply_to=status
        remove=poisoned
    [/effect]
    [effect]
        apply_to=status
        remove=slowed
    [/effect]
#enddef

[unit_type]
    id=Earth Elemental
    name= _ "Earth Elemental"
    race=elemental
    image="units/elementals/earth/rock-golem.png"
    profile=portraits/earth-elemental.png
    hitpoints=58
    movement_type=earthelement
    movement=4
    experience=80
    level=2
    alignment=neutral
    cost=35
    usage=fighter
    undead_variation=null
    description= _ "Earth elementals are made out of solid, living rock. They have a strong melee attack, but are easy to hit. They are resistant to most attacks."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ROCK_HEALING}+{SPECIAL_NOTES_STEADFAST}+{SPECIAL_NOTES_DIRT_HEALING}
    die_sound=troll-die-1.ogg
    {TRAITS_EARTH}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/transparent/earth-elemental.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/transparent/earth-elemental.png"
    [/portrait]
    [abilities]
        {ABILITY_STEADFAST}
        {ABILITY_ROCK_HEALING}
        {ABILITY_DIRT_HEALING}
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=fist
        description=_ "Rock Fist"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=16
        number=2
    [/attack]
    [advancement]
        id=ensconce
        strict_amla=yes
        max_times=1
        description=_ "Mountain ensconse, +2 HP, +20% Max XP"
        image=attacks/fist-troll.png
        {EARTH_ENSCONCE_EFFECTS}
    [/advancement]
    [advancement]
        id=addmeleedmg
        strict_amla=yes
        max_times=7
        description=_ "+1 damage to melee attacks, +2 HP, +10% Max XP"
        image=attacks/fist-troll.png
        [effect]
            apply_to=attack
            range=melee
            increase_damage=1
        [/effect]
        [effect]
            apply_to=max_experience
            increase=10%
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    {AMLA_TOUGH 5}
    {DEFENSE_ANIM "units/elementals/earth/rock-golem-defend.png" "units/elementals/earth/rock-golem.png" {SOUND_LIST:DRAKE_HIT} }
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image=units/elementals/earth/rock-golem.png
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=250
                image=units/elementals/earth/rock-golem-attack.png
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=250
                image=units/elementals/earth/rock-golem-attack.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image=units/elementals/earth/rock-golem.png
        [/frame]
    [/attack_anim]
    [death]
        start_time=0
        [frame]
            duration=50
            image=units/elementals/earth/rock-golem.png
        [/frame]
        [frame]
            duration=100
            image=units/elementals/earth/rock-golem-die-1.png
        [/frame]
        [frame]
            duration=100
            image=units/elementals/earth/rock-golem-die-2.png
        [/frame]
        [frame]
            duration=100
            image=units/elementals/earth/rock-golem-die-3.png
        [/frame]
    [/death]
[/unit_type]

