#textdomain wesnoth-Rise_of_the_Elementalist

[unit_type]
    id=Earth Elemental
    name= _ "Earth Elemental"
    race=elemental
    image="units/elementals/earth/rock-golem.png"
    profile=portraits/earth-elemental.png
    hitpoints=58
    movement_type=earthelement
    movement=4
    experience=80
    level=2
    advances_to=null
    alignment=neutral
    cost=35
    usage=fighter
    undead_variation=null
    description= _ "Earth elementals are made out of solid, living rock. They have a strong melee attack, but are easy to hit. They are resistant to most attacks."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ROCK_HEALING}+{SPECIAL_NOTES_STEADFAST}+{SPECIAL_NOTES_DIRT_HEALING}+{SPECIAL_NOTES_SUBMERGE}
    die_sound=troll-die-1.ogg
    {TRAITS_EARTH}
    [portrait]
        size=400
        side="left"
        mirror=no
        image="portraits/transparent/earth-elemental.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror=yes
        image="portraits/transparent/earth-elemental.png"
    [/portrait]
    [abilities]
        {ABILITY_STEADFAST}
        {ABILITY_ROCK_HEALING}
        {ABILITY_DIRT_HEALING}
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=fist
        description=_ "Rock Fist"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=16
        number=2
    [/attack]
    [advancement]
        id=ensconce
        strict_amla=yes
        max_times=1
        description=_ "Mountain ensconce"
        image=attacks/fist-troll.png
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_ENSCONCE}
            [/abilities]
        [/effect]
        {AMLA_DEFAULT_EFFECT 3 (20%)}
    [/advancement]
    [advancement]
        id=addmeleedmg
        strict_amla=yes
        max_times=7
        description=_ "+1 damage to melee attacks"
        image=attacks/fist-troll.png
        [effect]
            apply_to=attack
            range=melee
            increase_damage=1
        [/effect]
        {AMLA_DEFAULT_EFFECT 3 (20%)}
    [/advancement]
    [advancement]
        id=addmovement
        strict_amla=yes
        description=_ "+1 Movement"
        image=attacks/mud-glob.png
        max_times=1
        [effect]
            apply_to=movement
            increase=1
        [/effect]
        {AMLA_DEFAULT_EFFECT 3 (20%)}
    [/advancement]
    {AMLA_DEFAULT}
    [+advancement]
        require_amla=ensconce,addmeleedmg,addmeleedmg,addmeleedmg,addmeleedmg,addmeleedmg,addmeleedmg,addmeleedmg,add5hp,add5hp,add5hp,addmovement
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=3
        id=add5hp
        description= _ "Max HP bonus +5"
        image="icons/amla-default.png"
        require_amla=ensconce,addmeleedmg,addmeleedmg,addmeleedmg,addmeleedmg,addmeleedmg,addmeleedmg,addmeleedmg,addmovement
        {AMLA_DEFAULT_EFFECT 5 (20%)}
    [/advancement]
    {DEFENSE_ANIM "units/elementals/earth/rock-golem-defend.png" "units/elementals/earth/rock-golem.png" {SOUND_LIST:DRAKE_HIT} }
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image=units/elementals/earth/rock-golem.png
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=250
                image=units/elementals/earth/rock-golem-attack.png
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=250
                image=units/elementals/earth/rock-golem-attack.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image=units/elementals/earth/rock-golem.png
        [/frame]
    [/attack_anim]
    [death]
        start_time=0
        [frame]
            duration=50
            image=units/elementals/earth/rock-golem.png
        [/frame]
        [frame]
            duration=100
            image=units/elementals/earth/rock-golem-die-1.png
        [/frame]
        [frame]
            duration=100
            image=units/elementals/earth/rock-golem-die-2.png
        [/frame]
        [frame]
            duration=100
            image=units/elementals/earth/rock-golem-die-3.png
        [/frame]
    [/death]
[/unit_type]
