#textdomain wesnoth-Rise_of_the_Elementalist

[unit_type]
    id=Frost
    name= _ "Frost Warrior"
    race=elemental
    usage=scout
    image="units/elementals/water/frost.png~O(0.8)"
    profile=portraits/frost.png
    level=3
    advances_to=null
    experience=150
    hitpoints=60
    alignment=neutral
    cost=45
    description= _ "Animated frost, that is usually conjured by a water lord."+{SPECIAL_NOTES}+{SPECIAL_NOTES_WATER_HEALING 6}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_SLOW}
    {DEFENSE_ANIM "units/elementals/water/frost-defend.png~O(0.8)" "units/elementals/water/frost.png~O(0.8)" hiss.wav}
    die_sound=hiss.wav
    movement_type=fog
    movement=10
    num_traits=2
    ignore_global_traits=yes
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/transparent/frost.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/transparent/frost.png"
    [/portrait]
    [abilities]
        {ABILITY_WATER_HEALING 6}
        {ABILITY_SKIRMISHER}
    [/abilities]
    [resistance]
        blade=50
        pierce=45
        impact=75
        cold=5
        fire=165
    [/resistance]
    [attack]
        name=chill
        description= _ "chill"
        icon=attacks/iceball.png
        type=cold
        range=melee
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=slam
        description= _ "slam"
        icon=attacks/iceball.png
        type=cold
        range=melee
        damage=10
        number=4
    [/attack]
    [attack]
        name=frost
        description= _ "frost"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        damage=5
        number=3
        defense_weight=2.0
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    {AMLA_DEFAULT}
    [attack_anim]
        [filter_attack]
            name=chill,slam
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image="units/elementals/water/frost.png~O(0.8)"
        [/frame]
        [frame]
            duration=150
            image="units/elementals/water/frost-melee1.png~O(0.8)"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=300
                image="units/elementals/water/frost-melee1.png~O(0.8)"
                sound=hiss-big.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=300
                image="units/elementals/water/frost-melee1.png~O(0.8)"
                sound=hiss.wav
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/elementals/water/frost.png~O(0.8)"
        [/frame]
    [/attack_anim]
    {FROST_ATTACK frost "units/elementals/water/frost.png~O(0.8)" "units/elementals/water/frost-ranged1.png~O(0.8)" ()}
[/unit_type]
