#textdomain wesnoth-Rise_of_the_Elementalist

[unit_type]
    id=Mist
    name= _ "Mist Warrior"
    race=elemental
    usage=scout
    image="units/elementals/water/mist.png~O(0.6)"
    profile=portraits/mist.png
    level=2
    advances_to=Frost
    experience=80
    hitpoints=47
    alignment=neutral
    cost=32
    description= _ "Animated mist, that is usually conjured by a water lord."
    {DEFENSE_ANIM "units/elementals/water/mist-defend.png~O(0.6)" "units/elementals/water/mist.png~O(0.6)" hiss.wav}
    die_sound=hiss.wav
    movement_type=fog
    movement=9
    num_traits=2
    ignore_global_traits=yes
    [portrait]
        size=400
        side="left"
        mirror=no
        image="portraits/transparent/mist.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror=yes
        image="portraits/transparent/mist.png"
    [/portrait]
    [abilities]
        {ABILITY_WATER_HEALING 6}
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=slam
        description= _ "slam"
        icon=attacks/iceball.png
        type=cold
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=chill
        description= _ "chill"
        icon=attacks/iceball.png
        type=cold
        range=melee
        damage=5
        number=3
        defense_weight=3.0
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=mist
        description= _ "mist"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        damage=3
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=chill,slam
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image="units/elementals/water/mist.png~O(0.6)"
        [/frame]
        [frame]
            duration=150
            image="units/elementals/water/mist-melee1.png~O(0.6)"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=300
                image="units/elementals/water/mist-melee1.png~O(0.6)"
                sound=hiss-big.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=300
                image="units/elementals/water/mist-melee1.png~O(0.6)"
                sound=hiss.wav
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/elementals/water/mist.png~O(0.6)"
        [/frame]
    [/attack_anim]
    {FROST_ATTACK mist "units/elementals/water/mist.png~O(0.6)" "units/elementals/water/mist-ranged1.png~O(0.6)" ()}
[/unit_type]
