#textdomain wesnoth-Rise_of_the_Elementalist

#define MAIN_DEATHS
    [event]
        name=last breath
        [filter]
            side=1
            [and]
                id=fireleader
                [or]
                    id=airleader
                [/or]
                [or]
                    id=rockleader
                [/or]
                [or]
                    id=lotd
                [/or]
                [or]
                    id=lavaleader
                [/or]
            [/and]
        [/filter]
        {MSG (speaker=unit) (_ "No, I am immortal!")}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define UNIT_EVENTS
    [event]
        name=post advance
        first_time_only=yes
        [filter]
            id=lavaleader
        [/filter]
        {MODIFY_UNIT id=lavaleader halo "halo/fire-stone.png"}
    [/event]
#enddef

#define FIRE_STONE_OBJECT SILENT
    [object]
        id=firestone
        duration=forever
        silent={SILENT}
        name=_ "Fire Stone"
        description=_ "The fire stone grants the wielder additional fire damage and increases the fighting power of adjacent elementals."
        image="items/ball-magenta.png"
        [filter]
            id=lavaleader
        [/filter]
        [effect]
            apply_to=attack
            name=hurl
            increase_damage=4
        [/effect]
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_LEADERSHIP}
            [/abilities]
        [/effect]
    [/object]
#enddef
