#textdomain wesnoth-Rise_of_the_Elementalist

#define MAIN_DEATHS
    [event]
        name=last breath
        [filter]
            side=1
            [and]
                id=fireleader
                [or]
                    id=airleader
                [/or]
                [or]
                    id=rockleader
                [/or]
                [or]
                    id=lotd
                [/or]
                [or]
                    id=lavaleader
                [/or]
            [/and]
        [/filter]
        {MSG (speaker=unit) (_ "No, I am immortal!")}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define TROLL_DEATH
    [event]
        name=last breath
        [filter]
            id=trollleader
        [/filter]
        {MSG id=trollleader (_ "I really hate this demon!")}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define ALLIES_DEATH
    {TROLL_DEATH}

    [event]
        name=last breath
        [filter]
            id=orcleader
        [/filter]
        {MSG id=orcleader (_ "No money was worth this!")}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef
