#define MAP_WESNOTH STORY JOURNEY
    [part]
        story={STORY}
        background=maps/wesnoth.png
        {JOURNEY}
    [/part]
#enddef

#define MAP_EIYAR_START STORY
    {MAP_WESNOTH {STORY} (
        {NEW_REST 845 337}
    )}
#enddef

#define MAP_OASTRAM_START STORY
    {MAP_WESNOTH {STORY} (
        {NEW_BATTLE 824 385}
    )}
#enddef

#define MAP_GUILD_INTRO STORY
    {MAP_WESNOTH {STORY} (
        {OLD_BATTLE 824 385}
        {NEW_JOURNEY 834 370}
        {NEW_JOURNEY 842 355}
        {NEW_REST 845 337}
    )}
#enddef
#define MAP_DIPLOMACY STORY
    {MAP_WESNOTH {STORY} (
        {OLD_BATTLE 824 385}
        {OLD_JOURNEY 834 370}
        {OLD_JOURNEY 842 355}
        {OLD_BATTLE 845 337}
        {NEW_JOURNEY 849 310}
        {NEW_JOURNEY 851 295}
        {NEW_BATTLE 853 278}
    )}
#enddef
#define MAP_DAMAGE_CONTROL STORY
    {MAP_WESNOTH {STORY} (
        {OLD_BATTLE 824 385}
        {OLD_JOURNEY 834 370}
        {OLD_JOURNEY 842 355}
        {OLD_BATTLE 845 337}
        {OLD_JOURNEY 849 310}
        {OLD_JOURNEY 851 295}
        {OLD_BATTLE 853 278}
        {NEW_JOURNEY 850 250}
        {NEW_JOURNEY 847 230}
        {NEW_BATTLE 843 209}
    )}
#enddef

#define MAP_DEFEND_THE_GUILD STORY
    {MAP_WESNOTH {STORY} (
        {OLD_BATTLE 824 385}
        {OLD_JOURNEY 834 370}
        {OLD_JOURNEY 842 355}
        {OLD_JOURNEY 849 310}
        {OLD_JOURNEY 851 295}
        {OLD_BATTLE 853 278}
        {OLD_JOURNEY 850 250}
        {OLD_JOURNEY 847 230}
        {OLD_BATTLE 843 209}
        {NEW_BATTLE 845 337}
    )}
#enddef

#define MAP_CONSEQUENCES_START STORY
    {MAP_WESNOTH {STORY} (
        {OLD_BATTLE 845 337}
    )}
#enddef
#define MAP_CONSEQUENCES_END STORY
    {MAP_WESNOTH {STORY} (
        {OLD_BATTLE 845 337}
        {NEW_BATTLE 842 355}
    )}
#enddef

#define MAP_VILLAGE STORY
    {MAP_WESNOTH {STORY} (
        {OLD_BATTLE 845 337}
        {OLD_BATTLE 842 355}
        {NEW_JOURNEY 834 370}
        {NEW_BATTLE 824 385}
    )}
#enddef

#define MAP_SEARCH STORY
    {MAP_WESNOTH {STORY} (
        {OLD_BATTLE 845 337}
        {OLD_BATTLE 842 355}
        {OLD_JOURNEY 834 370}
        {OLD_BATTLE 824 385}
        {NEW_JOURNEY 795 370}
        {NEW_JOURNEY 815 355}
        {NEW_BATTLE 774 344}
    )}
#enddef

##############################################################
# Campaign 2:

#define MAP_ORC_ENLISTMENT STORY
    {MAP_WESNOTH {STORY} (
        {OLD_BATTLE 854 165}
        {NEW_JOURNEY 855 130}
        {NEW_JOURNEY 855 100}
        {NEW_BATTLE 855 70}
    )}
#enddef
#define MAP_BURN_FORESTS STORY
    {MAP_WESNOTH {STORY} (
        {OLD_BATTLE 854 165}
        {OLD_JOURNEY 855 130}
        {OLD_JOURNEY 855 100}
        {OLD_BATTLE 855 70}
        {NEW_JOURNEY 880 75}
        {NEW_JOURNEY 917 86}
        {NEW_JOURNEY 950 62}
        {NEW_BATTLE 955 32}
    )}
#enddef
