#textdomain wesnoth-Rise_of_the_Elementalist

[unit_type]
    id=Earth Elemental
    name= _ "Earth Elemental"
    race=elemental
    image="units/monsters/rock-golem.png"
    hitpoints=52
    movement_type=earthelement
    movement=4
    experience=150
    level=2
    alignment=neutral
    {AMLA_DEFAULT}
    cost=35
    usage=fighter
    undead_variation=null
    description= _ "Earth elementals are made out of solid, living rock. They have a strong melee attack, but are easy to hit. They are resistant to most attacks."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ROCK_HEALING}+{SPECIAL_NOTES_STEADFAST}
    die_sound=drake-die.ogg
    [abilities]
        {ABILITY_STEADFAST}
        {ABILITY_ROCK_HEALING}
    [/abilities]
    [attack]
        name=fist
        description=_ "Rock Fist"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=18
        number=2
    [/attack]
    {DEFENSE_ANIM "units/monsters/rock-golem-defend.png" "units/monsters/rock-golem.png" {SOUND_LIST:DRAKE_HIT} }
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image=units/monsters/rock-golem.png
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=250
                image=units/monsters/rock-golem-attack.png
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=250
                image=units/monsters/rock-golem-attack.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image=units/monsters/rock-golem.png
        [/frame]
    [/attack_anim]
    [death]
        start_time=0
        [frame]
            duration=50
            image=units/monsters/rock-golem.png
        [/frame]
        [frame]
            duration=100
            image=units/monsters/rock-golem-die-1.png
        [/frame]
        [frame]
            duration=100
            image=units/monsters/rock-golem-die-2.png
        [/frame]
        [frame]
            duration=100
            image=units/monsters/rock-golem-die-3.png
        [/frame]
    [/death]
[/unit_type]

