#textdomain wesnoth-Rise_of_the_Elementalist

#define WATER_UNIT_FILTER
    type=Water Wave
    [or]
        type=Water Elemental
    [/or]
    [or]
        type=Fog
    [/or]
    [or]
        type=Thunder Warrior
    [/or]
    [or]
        type=Storm Warrior
    [/or]
#enddef

#define WATER_LEADERSHIP LVL AMT
    [leadership]
        id=waterleadership
        value={AMT}
        cumulative=no
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level={LVL}
                {WATER_UNIT_FILTER}
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

#define HAIL_ANIMATION
    [missile_frame]
        begin=-500
        end=-350
        image="projectiles/icemissile-n-1.png"
        image_diagonal="projectiles/icemissile-ne-1.png"
    [/missile_frame]
    [missile_frame]
        begin=-350
        end=-200
        image="projectiles/icemissile-n-2.png"
        image_diagonal="projectiles/icemissile-ne-2.png"
    [/missile_frame]
    [missile_frame]
        begin=-200
        end=-50
        image="projectiles/icemissile-n-3.png"
        image_diagonal="projectiles/icemissile-ne-3.png"
    [/missile_frame]
    [missile_frame]
        begin=-50
        end=0
        image="projectiles/icemissile-n-4.png"
        image_diagonal="projectiles/icemissile-ne-4.png"
    [/missile_frame]
    [missile_frame]
        begin=25
        end=75
        image="projectiles/icemissile-n-5.png"
        image_diagonal="projectiles/icemissile-ne-5.png"
    [/missile_frame]
    [missile_frame]
        begin=75
        end=125
        image="projectiles/icemissile-n-6.png"
        image_diagonal="projectiles/icemissile-ne-6.png"
    [/missile_frame]
    [missile_frame]
        begin=125
        end=175
        image="projectiles/icemissile-n-7.png"
        image_diagonal="projectiles/icemissile-ne-7.png"
    [/missile_frame]
#enddef

[movetype]
    name=icegoddess
    flies=false
    [movement_costs]
        deep_water=1
        shallow_water=1
        swamp_water=1
        reef=1
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        frozen=1
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=40
        shallow_water=40
        swamp_water=40
        reef=40
        flat=60
        sand=60
        forest=50
        hills=60
        mountains=60
        village=40
        castle=40
        cave=60
        frozen=30
        fungus=50
    [/defense]
    [resistance]
        blade=60
        pierce=50
        impact=70
        fire=150
        cold=20
        arcane=100
    [/resistance]
[/movetype]

[unit_type]
    id=Ice Goddess
    name= _ "Ice Goddess"
    race=elemental
    image="units/monsters/ice-goddess.png"
    hitpoints=75
    movement_type=icegoddess
    movement=6
    gender=female
    experience=150
    level=3
    alignment=lawful
    cost=60
    usage=mixed fighter
    description= _ "A rare and strong magical creature made of ice. She is able to control parts of the weather and can summon elementals from the water."+{SPECIAL_NOTES}+(_" This unit regenerates 8 HP per turn when on water, swamp or frozen terrain and 4 HP on other terrains.")
    die_sound=mermen-die.ogg
    {DEFENSE_ANIM "units/monsters/ice-goddess-defend.png" "units/monsters/ice-goddess.png" mermen-hit.wav }
    num_traits=3
    ignore_global_traits=yes
    halo="halo/ice.png~O(0.3)"
    {TRAIT_DEXTROUS}
    {TRAIT_STRONG}
    {AMLA_DEFAULT}

    [abilities]
        [regenerate]
            [filter_self]
                [filter_location]
                    terrain=W*^*,Ss^*,Khs^*,Chw^*,Chs^*,Khw^*,Ai,Aa^*,Ha^*,Ms
                [/filter_location]
            [/filter_self]
            value=8
            affect_self="yes"
            name=_ "refreeze"
            description= _ "Refreeze:
The unit will heal itself 8 HP per turn on water base and frozen terrains."
        [/regenerate]
        {ABILITY_RECUPERATES}
        [heals]
            value=6
            id=healing
            affect_allies=yes
            name= _ "water heal"
            description=  _ "Water Heal +6:
Allows the unit to heal adjacent allied units at the beginning of our turn that are water based.

A unit cared for by this healer may heal up to 6 HP per turn."
            affect_self=no
            [affect_adjacent]
                adjacent=n,ne,se,s,sw,nw
                [filter]
                    {WATER_UNIT_FILTER}
                [/filter]
            [/affect_adjacent]
        [/heals]
        {WATER_LEADERSHIP 0 100}
        [+leadership]
            name= _ "water leadership"
            female_name= _ "female^water leadership"
            description= _ "Water Leadership:
This unit can lead its own water based units that are next to it, making them fight better.

Adjacent water based, own units of equal or lower level will do more damage in battle. When a unit adjacent to, of a lower or equal level than, and on the same side as a unit with Water Leadership engages in combat, its attacks do 25% more damage times the difference in their levels plus one."
        [/leadership]
        {WATER_LEADERSHIP 1 75}
        {WATER_LEADERSHIP 2 50}
        {WATER_LEADERSHIP 3 25}
        {ABILITY_ILLUMINATES}
    [/abilities]

    [attack]
        name=ice touch
        description=_"freezing touch"
        icon=attacks/touch-faerie.png
        type=cold
        range=melee
        damage=10
        number=4
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=hail
        description=_ "hail storm"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        damage=8
        number=4
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=jet
        description=_ "water jet"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/monsters/ice-goddess-leading.png"
        [/frame]
    [/leading_anim]

    [attack_anim]
        [filter_attack]
            name=ice touch
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image=units/monsters/ice-goddess.png
        [/frame]
        [frame]
            begin=-100
            end=100
            image=units/monsters/ice-goddess-attack1.png
            sound=water-blast.wav
        [/frame]
        [frame]
            begin=-100
            end=100
            image=units/monsters/ice-goddess.png
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=jet
        [/filter_attack]
        [missile_frame]
            begin=0
            end=100
            image="projectiles/water-spray.png"
            image_diagonal="projectiles/water-spray.png"
        [/missile_frame]
        [frame]
            begin=-150
            end=-60
            image="units/monsters/ice-goddess.png"
        [/frame]
        [frame]
            begin=-60
            end=-50
            image="units/monsters/ice-goddess-attack1.png"
            sound=water-blast.wav
        [/frame]
        [frame]
            begin=-50
            end=100
            image="units/monsters/ice-goddess-attack1.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=hail
        [/filter_attack]
        {HAIL_ANIMATION}
        [if]
            hits=yes
            [frame]
                begin=-450
                end=-375
                image="units/monsters/ice-goddess.png"
                halo=halo/elven/nature-halo1.png
                halo_x,halo_y=0,-12
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-450
                end=-375
                image="units/monsters/ice-goddess.png"
                halo=halo/elven/nature-halo1.png
                halo_x,halo_y=0,-12
                sound=magic-faeriefire-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-375
            end=-300
            image="units/monsters/ice-goddess.png"
            halo=halo/elven/nature-halo2.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/monsters/ice-goddess.png"
            halo=halo/elven/nature-halo3.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/monsters/ice-goddess-attack1.png"
            halo=halo/elven/nature-halo4.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/monsters/ice-goddess-attack1.png"
            halo=halo/elven/nature-halo5.png
            halo_x,halo_y=0,-12
        [/frame]
        {SOUND:SLOW}
        [frame]
            begin=-75
            end=0
            image="units/monsters/ice-goddess-attack1.png"
            halo=halo/elven/nature-halo6.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-0
            end=50
            image="units/monsters/ice-goddess.png"
            halo=halo/elven/nature-halo7.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=50
            end=100
            image="units/monsters/ice-goddess.png"
            halo=halo/elven/nature-halo8.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/monsters/ice-goddess.png"
        [/frame]
    [/attack_anim]

    [healing_anim]
        [frame]
            begin=-450
            end=-375
            image="units/monsters/ice-goddess.png"
            halo=halo/elven/nature-halo1.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-375
            end=-300
            image="units/monsters/ice-goddess.png"
            halo=halo/elven/nature-halo2.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/monsters/ice-goddess.png"
            halo=halo/elven/nature-halo3.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/monsters/ice-goddess-leading.png"
            halo=halo/elven/nature-halo4.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/monsters/ice-goddess-leading.png"
            halo=halo/elven/nature-halo5.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/monsters/ice-goddess-leading.png"
            halo=halo/elven/nature-halo6.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-0
            end=50
            image="units/monsters/ice-goddess.png"
            halo=halo/elven/nature-halo7.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=50
            end=100
            image="units/monsters/ice-goddess.png"
            halo=halo/elven/nature-halo8.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/monsters/ice-goddess.png"
        [/frame]
    [/healing_anim]
[/unit_type]
